/* Estilos para as fontes
 */

.space_mono {
  font-family: "Space Mono";
}

.caveat {
  font-family: "Caveat";
}

.poiret_one {
  font-family: "Poiret One";
}

.oswald {
  font-family: "Oswald";
}

.bungee_shade {
  font-family: "Bungee Shade";
}

.special_elite {
  font-family: "Special Elite";
}

.megrim {
  font-family: "Megrim";
}

.cormorant {
  font-family: "Cormorant";
}

.amatic_sc {
  font-family: "Amatic SC";
}
