/* Estilos para p├ígina principal e gera├º├úo da imagem
 * v0.5
 * ------
 * cz.sass 
 --------
COMPILAR O pagina.scss

 */

$DEBUG:0;

$cor_marca: #7f8c8d;
$tamanho_inicia_fonte: 120px;
$background_inverte: #000;
$color_inverte: #fff;
$largura_maxima: 800px;
$tamanho_imagem_final: $largura_maxima;
$altura_maxima: $largura_maxima;
$altura_retangular: 300px;
$cor_linhas: #7f8c8d;
$cor_linhas_escuras: #34495e;

@import "classe_fonte";

#bloco {
  margin-top: 10px;
  vertical-align: middle;
  font-size:  $tamanho_inicia_fonte;
  position:   absolute;
  overflow:   hidden;

  @if $DEBUG==0 {display: none; /*debug */}
  @if $DEBUG==1 {zoom: 55%;}
  @if $DEBUG==1 {background: #16a085}
}

#bloco a {
  display:  block;
  height:   calc(100% - 40px);
  width:    calc(100% - 40px);
  text-decoration: none;
  color:    inherit;
  margin:   20px;
  cursor:   text;

  @if $DEBUG==1 {background: #ddd}
}

#onde {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 10px;
  position: relative;
  line-height: 1.2;
  z-index: 1;
  height: 100%;
  @if $DEBUG==1 {background: #f00; /*debug */}
}

.inverte {
  background-color: $background_inverte;
  color: $color_inverte;
  padding: 2px 5px;
}

#imagem_final {
  display: none;
  width: $tamanho_imagem_final;
}

#marca {
  color: $cor_marca;
  font-size: 2.2rem;
  font-weight: 400;
  position: absolute;
  text-transform: none;
  z-index: 2;
}

// Estiliza texto
.forca_normal {
  font-weight: 100;
}

.bem_forte {
  font-weight: 800;
}

.escrita_normal {
  text-transform: none;
}

.escrita_maiuscula {
  text-transform: uppercase;
}

/* Formato da imagem */

// Quadrado*
.form_quadrado {
  width: $largura_maxima;
  height: $altura_maxima;
}

img.form_quadrado {
  max-width: 98%;
  height: auto;
}

.form_retangular {
  width: $largura_maxima;
  height: $altura_retangular;
}

img.form_retangular {
  max-width: 98%;
  height: auto;

  @media (min-width: 600px) {
    max-width: 500px;
  }
}

/* Adiciona borda à imagem */
.borda_sem{
  border: none;
}
.borda_com{
  border: 1px solid $cor_linhas;
  //padding: 2px 2px;
}
.borda_com_escura{
  border: 1px solid $cor_linhas_escuras;
}

/* Alinha texto da imagem */
.alinhamento_esquerda{
  text-align: left;
  #onde{
    padding-left:30px;
    padding-right:30px;
  }
}
.alinhamento_centralizada{
  text-align: center;
  #onde{
    padding: 20px 10px;
  }
}
.alinhamento_direita{
  text-align: right;
  #onde{
    padding-left:30px;
    padding-right:30px;
  }
}

//Posiciona a marca de maneira diferenciada
//quando tiver bordar
.marca_com_borda{
  bottom: 18px;
  right:  24px;
}
.marca_sem_borda{
  bottom: 0;
  right: 5px;
}

/*Linha no meio*/
#onde{
  hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    border:1px solid $cor_linhas;
  }
}

.texto_destacado_alinhado_centro{
  text-align: center;
  margin:0 auto;
  display: block;
}