
.space_mono {
  font-family: "Space Mono";
}

.caveat {
  font-family: "Caveat";
}

.poiret_one {
  font-family: "Poiret One";
}

.oswald {
  font-family: "Oswald";
}

.bungee_shade {
  font-family: "Bungee Shade";
}

.special_elite {
  font-family: "Special Elite";
}

.cormorant {
  font-family: "Cormorant";
}

.amatic_sc {
  font-family: "Amatic SC";
}

.work_sans {
  font-family: 'Work Sans', sans-serif;
}

.cabin_sketch {
  font-family: 'Cabin Sketch', sans-serif;
}

.fredericka {
  font-family: 'Fredericka the Great', sans-serif;
}

.vast_shadow {
  font-family: 'Vast Shadow', sans-serif;
}

.bungee {
  font-family: 'Bungee', sans-serif;
}