.form_quadrado {
  width: 512px;
  height: 512px;
}
img.form_quadrado {
  max-width: 98%;
  height: auto;
}

.form_retangular {
  width: 512px;
  height: 200px;
}
img.form_retangular {
  max-width: 98%;
  height: auto;


}

.form_vertical {
  width: 409px;
  height: 512px;
}
img..form_vertical {
  width: 98%;
  height: auto;
}

.selecao .form_quadrado, 
.selecao .form_retangular, 
.selecao .form_vertical {
  width: auto;
  height: auto;
}