div .caixa-texto{
	position: relative;
}

#coisas_legais {
  color: #000;
  background: #ECEFF1;
  border-radius: 4px;
  padding: 1rem;
  margin: 0;
}

.coisas-legais{
  display: block;
}

.coisas-legais-fechado{
  display: none;
}

#coisas_legais p {
    margin: 0;
}

#coisas_legais .exemplo{
  display: inline-block;
	padding:  3px 5px;
	background: #CFD8DC;
  margin-right: 4px;
  margin-top: 2px;
  border-left: 4px solid #263238;
  border-radius: 2px;
}
span.exemplo{
  white-space: nowrap;
}

.inverte {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
}

#contador {
  position: absolute;
  text-transform: none;
  bottom: 5px;
  border-radius: 4px;
  background: #ECEFF1;
  padding: .4rem;
  font-size: .7em;
}

span .menor{
	font-size:14px;
}

textarea {
  margin-top: 10px;
  margin-bottom: 0;
  height: 100px;
}

.exibir-exemplos{
  border: 0;
  border-left: 1px solid #CFD8DC;
  border-right: 1px solid #CFD8DC;
}